.card {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 1px 15px 1px hsl(200, 15%, 8%, 0.2);
  width: 100%;
  max-width: 20rem;
  height: 24.5rem;
  border-radius: 0.4rem;
}

.card .img_wrapper {
  width: 100%;
  height: 12rem;
  overflow: hidden;
  border-radius: 0.4rem 0.4rem 0 0;
}

.card img {
  border-radius: 0.4rem 0.4rem 0 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.4s ease transform;
}

.card img:hover {
  transform: scale(1.2);
}

.card .country_info {
  padding: 1rem;
}

.card .infos {
  margin-top: 0.8rem;
}

.card .infos p {
  font-weight: 300;
  color: hsl(200, 15%, 8%);
}

.card .infos p span {
  font-weight: 600;
}

.dark_mode .card {
  background-color: hsl(209, 23%, 22%);
}

.dark_mode .card p,
.dark_mode .card span,
.dark_mode .card h3 {
  color: hsl(0, 0%, 100%);
}
