header {
  padding: 1rem var(--header_padding);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(0, 100%, 100%);
  box-shadow: 0 1px 15px 1px hsl(200, 15%, 8%, 0.2);
}

header h1 {
  font-weight: 800;
  font-size: clamp(1rem, 1.662vw + .5035rem, 1.75rem);
}

header button {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-weight: 600;
  cursor: pointer;
}
